<?php $user = $this->requestAction('users/loggeduser'); ?>
<div id="navigation2" style="padding-left: 0">	
	<div class="btn-group">		
		<div class="btn btn-primary"><?php echo $this->Html->link('Add New', array('action' => 'add'), array('class' => 'danger')); ?></div>
		<div class="btn btn-primary"><?php echo $this->Html->link('Browse', array('action' => 'index'), array('class' => 'danger')); ?></div>				
	</div>	
</div>
