<?php $user = $this->requestAction('users/loggeduser'); ?>
<div id="navigation2" style="padding-left: 0">	
	<div class="btn-group">
		<div class="btn btn-primary"><?php echo $this->Html->link('Upload', array('controller' => 'schoolgrades', 'action' => 'upload'), array('class' => 'danger')); ?></div>		
		<div class="btn btn-primary"><?php echo $this->Html->link('Browse', array('controller' => 'schoolgrades', 'action' => 'index'), array('class' => 'danger')); ?></div>				
	</div>	
</div>
