@charset "utf-8";
/* CSS Document */


/* ---------------------------------------------------------------------- */
/* HTML5/CSS3 Gray Navigation Menu 
/* ----------------------------------------------------------------------
Version: 1.0
Author: Ixtendo
Author URI: http://www.ixtendo.com
License: MIT License
License URI: http://www.opensource.org/licenses/mit-license.php
------------------------------------------------------------------------- */


* {
	margin: 0;
	padding: 0;
	outline: none;	
}

ul {
	list-style: none;	
}

/*#logo{height: 85px; width: 100%; background: url(../img/site-img/hr_userchecklist.png) left no-repeat;}*/
#logo{	
	/*background: url(../img/tables/nav3.png) left repeat-x; */
	/*background: #1f1f20;*/
	background: #666;		
	width: 100%;
	padding: 0;	
}

.welcome-user{padding: 0; text-align: right;}
.welcome-ip{padding: 0 10px; text-align: left; font: bold 9px arial, heveltica, sans-serif;}
.welcome-user a:hover{text-decoration: underline;}

#navigation, #navigation2, #navigation3 {	
	/*font: bold 12px arial, heveltica, sans-serif;	*/	
	font-weight: normal;	
	color: #444;
	margin: 0 0 0 0;
	padding: 5px 50px;
	text-transform: uppercase;
}

#navigation:after, #navigation2:after , #navigation3:after {
	clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#navigation ul, #navigation2 ul, #navigation3 ul {		
    overflow: hidden;
}

#navigation2 ul.mainmenu{	
	width: 100%;
	min-width: 1000px;
}


#navigation li, #navigation2 li {
	float: left;
	/*border-bottom: 1px solid #666666 !important;	
	/*background: #4D4D4D; /* Old browsers */	
}

#navigation3 li{	
	/*border-bottom: 1px solid #fff !important;*/
	background: #666; /* Old browsers */		
	float: left;		
}

#navigation3{background: transparent; padding: 0; margin-left: 165px;}
#navigation{background: transparent; padding: 0; margin-left: 165px;}
#navigation li {
	float: left;
}


#navigation li:hover, #navigation li.current, #navigation2 li:hover, #navigation2 li.current, #navigation3 li:hover, #navigation3 li.current {
	/*border-color: #262626 !important;
	border-left: 1px solid #666666 !important;
	background: red; /* Old browsers */	
}
#navigation2 a.danger{
	color: #FFFFFF !important;
}

#navigation a, #navigation2 a{
	color: #666;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	text-transform: none;
	
}

#navigation2 a.activemenu{background: red;}

#navigation3 a{
	display: block;
	padding: 10px 15px;
	color: #fff;
	text-decoration: none;		
	font-size: 12px;
}

#navigation a:hover, #navigation li.current a, #navigation2 a:hover, #navigation2 li.current a, #navigation3 a:hover, #navigation3 li.current a {
	text-decoration: none;
	color: #000;
	/*text-shadow: 0 1px #000;*/
	/*font-weight: bold;*/
	
}


#navigation li:first-child, #navigation2 li:first-child {
	/*border-left-color: #BABABA;*/
}

#navigation li:last-child, #navigation2 li:last-child {
}

#navigation2 ul.mainmenu li:hover{border: none;}
#navigation2 ul.mainmenu li a img{width: 18px; height: 18px; margin: -3px 0 0 0; padding: 0;}
#navigation2 ul.mainmenu li ul.submenu{visibility: hidden; width: auto; position: absolute; top: 32px; left: 300px; padding: 10px 10px;}
#navigation2 ul.mainmenu li ul.submenu{text-align: left; background: #f4f2f2;}
#navigation2 ul.mainmenu li ul.submenu li{display: inline; clear: both;}
#navigation2 ul.mainmenu li ul.submenu li a{padding: 5px 5px; width: 160px; font-size: 12px;}
#navigation2 ul.mainmenu li ul.submenu li a:hover{text-decoration: underline;}

div#container{min-width: 100%; width: 100%; height: auto; padding: 0; margin: 0 auto;}
div.main-wrap{margin-top: 15px;}
div.top-text-header{text-align: center; font-weight: bold; margin-top: 20px;}
/*div.main-wrap-inner{background: url(../img/site-img/bgnoise_lg.png) repeat left top; border: 1px solid #ccc; padding: 10px 10px;}*/
div.main-wrap-header{border-right: 1px solid #ccc; width: 165px; min-width: 165px; position: absolute; left: 0; top: 0; background: url(../img/site-img/bgnoise_lg.png) left top repeat;}
div.main-wrap-inner{min-width: 100%; width: 100%; padding: 0; background: #fff;}	
div.main-wrap-inner-header{padding: 5px 10px; width: 100%; background-color: #fffff;}
div.header-c{width: 100%; background: #fff;}
div.main-wrap-inner-body{background: #fff; padding: 10px 50px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; height: auto; margin-top: 15px;}
div.title-header-page{box-shadow: 5px 5px 5px #888; width: 100%; top: 0; font-size: 12px; font-weight: bold; border-bottom: 1px solid #666;  background: #f4f2f2;}
div.title-header-page a{color: #000; text-decoration: none;}
div.title-header-page a:hover{color: red; text-decoration: none;}
div.before-content-layout{}

/*form*/
div.groups-form{padding: 10px; background: #fff;}
div.end-form{text-align: center; border-top: 1px solid #ccc; padding: 10px 0;}
div.message-response{background: #fff; margin: 5px 0 3px 0;}
div.message-response .error_message img, .success_message img{width: 15px; margin-right: 3px;}
div.success_message{color: green; border-left: 5px solid green; padding: 5px; font-size: 11px; background: #f4f2f2;}
div.success_message a{color: blue; text-decoration: none;} 
div.success_message a:hover{color: #666; text-decoration: underline;	} 
div.error_message{color: red; border-left: 5px solid red; padding: 5px; font-size: 11px; background: #f4f2f2;} 
.clear{clear: both;}
.error{color: red; font-size: 12px; font-weight: bold; border: 2px solid red; padding: 3px 5px;}
div.process_message{font-size: 12px; font-weight: bold;}
/*direct search applicant*/
form{text-align: left;}
form label{font-size: 12px; font-weight: bold; margin-right: 5px;}
form input{padding: 3px 10px; border: 1px solid #ccc; margin-top: 5px;}
form input.normalsearchinput{	
	width: 270px; 
	padding: 5px 10px; 
	border: 1px solid #fff; 
	background: url(../img/icons/search.png) right no-repeat; 
	background-color: #ffffff;	
	border-radius: 5px !important;		
}
div.hidebutton{display: none;}
div#search-result{}
div.applicantfound{padding: 20px 10px; background: #f55353; width: 300px; position: absolute; top: 75px; left: 650px; text-align: left; font-size: 12px; border: 3px solid #fff; box-shadow: 5px 5px 5px #888;}
div.applicantfound a{color: #fff; text-decoration: none; font-weight: bold;}
div.applicantfound a:hover{text-decoration: underline;}
div.result-index{margin-top: 10px; color: #fff; font-weight: bold; font-size: 11px; color: #fff; border-top: 1px dashed #000;}

input.continuesave{
	background: green;
	color: #fff;
	border: 1px solid #ccc;
	padding: 10px 20px;
	margin: 2% 0;
	font-size: 11px;
	font-weight: bold;
	border-radius: 8px 8px;
}
input.continuesave:hover{background: red;}
select.trigger-time{padding: 5px 10px;}
input.form-control{padding: 5px 10px;}
input.submitbtn{
	border: 1px solid green;
	background: green;
	color: #fff;
	outline: none;
	border: none;
	/*text-indent: -1000em;*/
	padding: 10px 20px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	margin: 0 auto;
	border-radius: 15px 15px;
	margin-top: 10px;
}

/*
input.submitbtn:hover{background: url(../img/menus/submit-button03.png) center no-repeat; }
button.cancelbtn:hover{background: url(../img/menus/cancel-button03.png) center no-repeat; }
*/

button.cancelbtn{
	background: url(../img/menus/cancel-button04.png) center no-repeat; 	
	outline: none;
	border: none;
	text-indent: -1000em;
	width: 98px;
	height: 28px;
	cursor: pointer;
	float: left;
}

/*table*/

table{width: 100%;}
/***
| Remark Table */
table tr td.remark-table li{margin: 0 0 0 25px;}
table tr td.remark-table{padding: 20px 10px;}
/**
| ***/
table tr.printaccount td{font-weight: bold; font-size: 12px; border: 1px solid #ccc; padding: 5px 5px; text-align: center;}
table tr.printaccount td input.printbtn{border-radius: 8px; padding: 10px 15px; margin: 2px 0 0 0; background: red; color: #fff;}
table tr.printaccount td img{width: 200px;}
table tr.printaccount td div{padding: 0 5px; text-align: center; margin-top: 8px; text-transform: uppercase;}
table tr.table-form-label td{padding: 0; margin: 0;}
table tr.table-form-label td.text-label{background: #f4f2f2; border: 1px solid #ccc; font-size: 12px; padding: 8px 10px; color: #000; text-align: right; width: 150px; min-width: 150px; font-weight: bold;}
table tr.table-form-label td.text-hints{color: #666; background: #fff; font-size: 12px; padding: 8px 10px; text-align: left; width: 250px; min-width: 250px;}
table tr.table-form-label td.text-input{padding: 4px 10px; background: #fff;}
table tr.table-form-label td.text-input div.text-hints{font-size: 11px; color: #666; padding: 4px 0 0 0;}
table tr.table-form-label td.text-input input{width: 400px; padding: 3px 8px; background: #f5f6b1; border-radius: 5px 5px; border: 1px solid #ccc; margin: 1px 0; font-weight: bold;}
table submit{border-radius: 5px; padding: 3px 5px;}
table tr.table-form-label td.text-input input[type="radio"]{text-align: left; width: 30px; background: #f4f2f2;}
table tr.table-form-label td.text-input div.checkbox{text-align: left; background: red; color: #fff; font-size: 12px; font-weight: bold; padding: 5px 10px;}
table tr.table-form-label td.text-input div.checkbox1{text-align: left; border-bottom: 1px dashed #ccc; font-size: 12px; font-weight: bold; padding: 5px 0;}
table tr.table-form-label td.text-input textarea{width: 700px; height: 200px; padding: 3px 8px; background: #f5f6b1; border: 1px solid #ccc; margin: 1px 0; font-weight: bold;}
table tr.table-form-label td.text-input select{padding: 5px 10px; font-weight: bold; font-size: 13px; line-height: 22px;}
table th{text-align: left; padding: 0 3px; border: 1px solid #666;}
table th a{color: #666; text-decoration: none;}
table th a:hover{color: red; text-decoration: underline;}
table tr.table-header th{background: #f4f2f2; color: #000; padding: 5px 10px; border: 1px solid #ccc; font-size: 11px;}
table tr.table-header5 th{background: #f4f2f2; color: #000; padding: 5px 10px; border: 1px solid #ccc; font-size: 11px; font-weight: bold;}
table tr.table-information td{padding: 5px 3px; font-size: 12px; color: #000; font-weight: bold; background: #f4f2f2; border-bottom: 1px solid #ccc;}
div.mreport a{color: red; text-decoration: none; border: 1px solid #666; padding: 2px 5px; border-radius: 5px; float: left; margin: 3px 2px 0 0; font-size: 12px; font-weight: bold;}
div.mreport a:hover{text-decoration: underline;}
div.report-date{font-size: 14px; font-weight: bold; padding: 5px 0;}
table tr.table-information2 td{color: #000; text-align: left;  padding: 3px 5px; border-bottom: 1px solid #ccc; font-family: Lucida Grande, Arial, Helvetica, sans-serif;; font-size: 12px; background: #fff; font-weight: bold;}
table tr.funds td{}
table tr.table-separator td{border-bottom: 2px solid #000;}
table tr.table-balance td{border-bottom: 2px solid #000; background: red; color: #fff;}
table tr.table-balance-normal td{}
table tr.table-information3 td{background: #fff; padding: 5px 5px;}
/*table tr.table-information2 td:hover, tr.table-information td:hover{background: #f4f2f2;}*/
table tr.table-information td a{color: #000; text-decoration: none;}
table tr.table-information td a.default, tr.table-information2 td a.default{color: #fff; text-decoration: none; background: #bdc2f7; border-radius: 5px 5px 5px; padding: 2px 10px;}
div.actions{padding: 10px 0 3px 0;}
div.actions a{color: #fff; text-transform: uppercase; font-size: 9px; font-weight: bold; text-decoration: none; border: 1px solid #f55353; background: #f55353; padding: 8px 5px;}
div.actions a:hover{background: red; color: #fff; border: 1px solid red;}
table tr.table-information2 td a{color: #000; text-decoration: none;}
table tr.table-information td a:hover{color: blue;}
table tr.table-information2 td a:hover{color: blue;}
table tr.table-information td.actions{min-width: 9%;}
table tr.table-information td a, tr.table-information2 td a{font-size: 10px; font-weight: bold;}
table tr.table-information2 td.actions{min-width: 9%;}
table tr.table-information td.actions img{width: 15px;}
table tr.table-information2 td.actions img{width: 13px;}
table tr.table-information img, tr.table-information2 img{width: 15px;}

table tr.table-information2 td.actions a:hover, tr.table-information td.actions a:hover{
	color: #000;
}

table tr.table-information2 td.actions a, tr.table-information td.actions a{	
	color: #000;	
	font-family: arial, heveltica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	text-transform: uppercase;
	float: left;	
}

table tr.table-information2 td.actions a:hover, tr.table-information td.actions a:hover{		
	color: green;
	text-decoration: underline;
}

table tr.table-information td.actions a.view, a.edit, a.uploadpicture, a.uploadattachment, a.addinformation, a.extract{	
	outline: none;	
	/*text-indent: -1000em;
	width: 16px;*/
	height: 13px;
	cursor: pointer;		
	padding: 0 5px 0 18px;		
}


table tr.table-information2 td.actions a.view, a.edit, a.uploadpicture, a.uploadattachment, a.addinformation, a.extract{	
	outline: none;	
	/*text-indent: -1000em;
	width: 16px;*/
	height: 13px;
	cursor: pointer;	
	padding: 0 5px 0 18px;	
}


table tr.table-information2 td.actions a.edit, tr.table-information td.actions a.edit{
	background: url(../img/icons/edit_small.png) left no-repeat; 		
}

table tr.table-information2 td.actions a.view, tr.table-information td.actions a.view{
	background: url(../img/icons/view6.png) left no-repeat; 	
}

table tr.table-information2 td.actions a.addinformation, tr.table-information td.actions a.addinformation{
	background: url(../img/icons/information.png) left no-repeat; 	
}

table tr.table-information2 td.actions a.uploadpicture, tr.table-information td.actions a.uploadpicture{
	background: url(../img/icons/picture.png) left no-repeat; 	
}

table tr.table-information2 td.actions a.extract, tr.table-information td.actions a.extract{
	background: url(../img/icons/back.png) left no-repeat; 	
}

table tr.table-information2 td.actions a.addapplicant{
	background: url(../img/menus/submit-button04.png) left no-repeat; 	
	outline: none;
	border: none;
	text-indent: -1000em;
	width: 98px;
	height: 28px;
	cursor: pointer;
	float: left;		
}

table tr.table-information2 td.actions a.uploadattachment, tr.table-information td.actions a.uploadattachment{
	background: url(../img/icons/attachment.png) left no-repeat; 	
}





/*paging*/
div.page-status{background: #fff; color: #000; font-weight: bold; padding: 5px 0;}
div.page-status .page-status-inner{padding: 2px 5px; text-align: left; font-size: 10px;}
div.page-status{font-size: 13px; text-align: left; text-transform: uppercase;}
div.page-status a{color: #000; padding: 5px 5px; text-decoration: none; border: 1px solid #ccc;}
ul.toph{margin: 0;}
input.normalinput{border: 1px solid red;}
/*
div.paging .next a{padding: 0; text-decoration: none; border: none;}
div.paging .previous a{padding: 0; text-decoration: none; border: none;}
div.paging .previous a:hover{background: transparent; text-decoration: underline;}
div.paging .next a:hover{background: transparent; text-decoration: underline;}
div.paging .next, .previous{background: #fff; font-size: 11px; float: left; padding: 3px 4px; font-weight: bold; text-decoration: none; color: #666; border-right: 1px solid #ccc;}
div.paging .inside-paging .numbers a{padding: 0; text-decoration: none; border: none;}
div.paging .inside-paging .numbers{background: #fff; color: red; float: left; font-weight: bold; padding: 3px 4px; border-right: 1px solid #ccc; font-size: 11px;}
div.paging .inside-paging .numbers a:hover{text-decoration: underline;}

div.paging .inside-paging{padding: 0; margin: 0; float: left; width: auto;}*/
div.search-form{margin-bottom: 5px;}
div.search-form form .searchdate{float: left;}
div.search-form form select{padding: 1px 5px;}
div.search-form form input{float: left; width: 200px; padding: 5px 8px; color: #000; border: 1px solid #ccc;}
div.search-form form input.searchbtn{float: left; width: 20px; height: 20px;}
div.search-form form input.searchbtn{
	background: url(../img/menus/search-button04.png) center no-repeat; 	
	outline: none;
	border: none;
	text-indent: -1000em;
	width: 98px;
	height: 23px;
	cursor: pointer;
	float: left;	
}

div.logged-user{background: #fff; font-weight: bold; font-size: 12px; padding: 5px 0; text-align: right; border-bottom: 1px solid #f4f2f2;}
div.logged-user ul{min-width: 600px;}
div.logged-user ul li{float: right; padding: 2px 0;}
div.logged-user ul li a{font-size: 12px; font-weight: bold; padding: 2px 5px; text-decoration: none; text-decoration: underline;}
div.logged-user ul li a:hover{color: #666;}
div.related{margin-bottom: 5px;}
div.applicant-picture{float: left; width: 100px; height: 100px; border: 1px solid #ccc; margin-top: 5px;}
div.applicant-region-area{margin: 5px 0 0 0;}
div.applicant-region-area p{font-size: 12px;}
div.applicant-information{float: left; width: 600px; height: auto; margin: 0 0 0 5px; padding: 10px 0;}
div.applicant-information p{font-weight: bold; line-height: 1.1em;}
div.below-table-link{padding: 0 0; background-color: #fff;}
div.below-table-link a{
	color: #fff; 
	padding: 8px 8px;
	text-decoration: none; 	
	float: left;	
	font-size: 9px;	
	text-transform: uppercase;
	background-color: #f55353;
	font-weight: bold;		
	/*margin-right: 2px;	
	border-radius: 8px;
	border: 2px solid #ccc;*/
}

div.below-table-link a:hover{background: #f4f2f2; color: #000;}
div.examinations-view{font-weight: bold;}
div.examinations-view{padding: 20px 0 0 0;}
div.examinations-view div.day{color: green; font-size: 20px;}
div.examinations-view div{line-height: 14px;}
div.examinations-view div.status{font-size: 12px;}
div.examination-receiver{}
div.examination-receiver .examination-receiver-inside{padding: 5px; font-size: 12px; font-weight: bold;}
div.result-box{width: auto; font-size: 12px; margin-top: 10px;}
div.inner{}
div.dm, .dmd{float: left; width: 150px; margin-left: 20px;} 
div.pdf-link{text-align: center; margin-top: 50px;}
div.pdf-link a{padding: 10px 20px; font-size: 16px; font-weight: bold; color: #fff; background: green; border-radius: 8px 8px 8px 8px;}
div.separator-nav{border: 1px solid red; width: 10px; height: 10px; float: left;}


div.wrapper{margin: 0 auto; width: 100%;}
div.header{text-align: center;}
div.header .f-header{font-weight: bold; font-size: 20px; color: green;}
div.as-of{text-align: center; color: blue;}
div.content{padding: 10px 20px;}
div.separator-top{border-top: 1px solid #ccc; padding: 5px 0;}
div.separator-bottom{border-bottom: 1px solid #ccc; padding: 5px 0;}
div.einfo{border: 1px solid #ccc; padding: 10px 20px; background: #f4f2f2;}
div.m-d{font-size: 12px; font-weight: bold;}

.label-text{padding: 0 10px; width: 180px;}
.before-input{margin-top: 5px;}
.loading-image{height: 20px; padding: 2px 0; position: absolute; top: 50%;}


form{}
form fieldset{border: none;}
form label{padding: 0 0 0 0 !important; margin: 10px 0 0 0 !important;}
form input[type="text"], form textarea, form select{padding: 3px 8px !important; width: 100%; margin: 0 0 0 0 !important;}
select.normalinput{width: 80%; padding: 3px 8px;}
form select#StudentBirthdateMonth, form select#StudentBirthdateDay, form select#StudentBirthdateYear{width: auto !important;}
table{border-bottom: 1px solid #ccc;}
table tr th{background: #f4f2f2; color: #000; font-size: 12px; border: none !important; border: 1px solid #666 !important;}
table tr th a{color: #000;}
table tr td{font-size: 12px; font-weight: bold;}
.footer{text-align: left; font-size: 11px; color: #ccc; background: #f4f2f2; padding: 5px 50px;}
h3.default{padding: 5px 8px; background: #f4f2f2; border: 1px solid #ccc; font-size: 16px; font-weight: bold;}
.no-padding-left{padding-left: 0;}
.no-padding-right{padding-right: 0;}
.no-margin-right{margin-right: 0;}
.no-margin-left{margin-left: 0;}
.dropdown:hover .dropdown-menu {
	display: block;
}
ul.dropdown-menu{margin-top: -1px; broder-radius: none;}
ul.dropdown-menu li{width: 100%;}