/*
8598eb
*/
/**********
THICK BOX
*************/
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #000;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window div.pdf-link a {text-decoration: none; margin-left: 5px; padding: 10px 20px; font-size: 12px; font-weight: bold; color: #fff; background: green; border-radius: 8px 8px 8px 8px;}
#TB_window a:link {color: #666;}
#TB_window a:visited {color: #666;}
#TB_window a:hover {color: #666;}
#TB_window a:active {color: #666;}
#TB_window a:focus{color: #666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#666;
	filter:alpha(opacity=1);
	-moz-opacity: 0.9;
	opacity: 0.9;
	
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #fff;
	border: 1px solid #ccc;
	/*border-bottom: 30px solid #ccc;*/
	z-index: 102;
	color:#000000;
	display:none;
	margin: auto 0px;
	/*border: 4px solid #525252;*/	
	text-align:left;
	padding: 0px 0px;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 0 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 0 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 15px;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title{
	background-color: #f4f2f2;
	height:27px;
	color: #000;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

#TB_title a:link{
	color: #000;
}

#TB_ajaxContent{
	clear:both;
	padding: 0 2px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	/*padding:15px;*/
}

#TB_ajaxContent p{
	padding: 0;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:350px;
	z-index:103;
	top: 40%;
	left: 40%;
	/*margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
	margin: auto 0px;
	background: #fff;
	padding: 5px 10px 10px 10px;
	font: bold 12px arial, heveltica, sans-serif;
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}
