<div class="teachersubjects index">
	<h2><?php echo __('Teachersubjects');?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id');?></th>
			<th><?php echo $this->Paginator->sort('teacher_id');?></th>
			<th><?php echo $this->Paginator->sort('schoolsubject_id');?></th>
			<th class="actions"><?php echo __('Actions');?></th>
	</tr>
	<?php
	$i = 0;
	foreach ($teachersubjects as $teachersubject): ?>
	<tr>
		<td><?php echo h($teachersubject['Teachersubject']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($teachersubject['Teacher']['title'], array('controller' => 'teachers', 'action' => 'view', $teachersubject['Teacher']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($teachersubject['Schoolsubject']['name'], array('controller' => 'schoolsubjects', 'action' => 'view', $teachersubject['Schoolsubject']['id'])); ?>
		</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $teachersubject['Teachersubject']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $teachersubject['Teachersubject']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $teachersubject['Teachersubject']['id']), null, __('Are you sure you want to delete # %s?', $teachersubject['Teachersubject']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>

	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Teachersubject'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Teachers'), array('controller' => 'teachers', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Teacher'), array('controller' => 'teachers', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Schoolsubjects'), array('controller' => 'schoolsubjects', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Schoolsubject'), array('controller' => 'schoolsubjects', 'action' => 'add')); ?> </li>
	</ul>
</div>
