<?php echo $this->element('submenu/subjects'); ?>
<h3 class="default"><?php echo __('Add School Year'); ?></h3>
<div class="schoolyears form">
<?php echo $this->Form->create('Schoolyear');?>
	<fieldset>
		
	<?php
		echo '<label for="">Year</label>';
		echo $this->Form->input('sy_from', array('label' => ''));
		//echo '<label for="">To</label>';
		//echo $this->Form->input('sy_to', array('label' => '', 'dateFormat' => 'Y', 'type' => 'date', 'minYear' => '1990', 'maxYear' => date('Y')));
	?>
	</fieldset>
<?php echo $this->Form->submit(__('Save Information'), array('class' => 'btn btn-primary'));?>
</div>
<br /><br />
