<?php
	if(!empty($colspan) && !empty($outputext)){
		echo '<tr class="table-information">';
			echo '<td colspan="'.$colspan.'" style="color: red; font-size: 15px;">'.$outputext.'</td>';
		echo '</tr>';
	}
?>