<div class="result-box">
	if(!empty($fields) && !empty($controller)){
		foreach($fields as $fld):
			echo '<div">';
			switch($fld){	
				case "added_by":
					echo (($controller['added_by']==0) ? '-' : $this->Externalfunction->gettheauthor($controller['added_by']));;								
				break;
				case "modified_by":
					echo (($controller['modified_by']==0) ? '-' : $this->Externalfunction->gettheauthor($controller['modified_by']));					
				break;
				default:
					echo $controller[$fld];
				break;
			}
			echo '</div>';
		endforeach;
	}
</div>