<?php echo $this->element('submenu/teachers'); ?>
<h3 class="default"><?php echo __('Add New Subject'); ?></h3>
<div class="schoolsubjects form">
<?php echo $this->Form->create('Schoolsubject');?>
	<fieldset>
		
	<?php
		echo '<label for="">Name</label>';
		echo $this->Form->input('name', array('label' => ''));		
	?>
	</fieldset>
<?php echo $this->Form->submit(__('Create'), array('class' => 'btn btn-primary'));?>
</div>
<br /><br />

